* {
  font-family: "Nunito", sans-serif;
}

.form-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    height: 100%;
    min-height: 400px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    border-radius: 16px;

    padding: 16px;
    background-color: #EEEFFF;
}

.login-form {
    height: 100%;
    display: flex;
    flex-direction: column;

    input {
        height: 28px;
        margin-bottom: 20px;
        border: none;
        border-radius: 4px;
    }
}